body {
  margin: 0 auto;
}

header {
  width: 100%;
  height: 80px;
  padding: 15px;
  color: #fff;
  background-color: #C42F23;
}

footer {
  width: 100%;
  height: 80px;
  padding: 15px;
  color: #fff;
  background-color: #C42F23;
}

table th {
  background-color: #ffdfdf;
  padding: 10px 20px;
}

table td {
  background-color: #f9eae9;
  padding: 10px 20px;
}